/* frame */
.header_frame {
    padding:0 32px;
    display:flex;
    flex-direction:row;
    border-radius: 12px;
    border-bottom: 1px #eee solid;
    /* height:60px; */
    justify-content:space-between;
    background-color: white;
    transition: 0.1s;
    position: sticky;
    top: 0;
    z-index: 999;
    /* min-width: ; */
}
.header_frame_none{
    padding:0 32px;
    display:flex;
    border-radius: 12px;
    border-bottom: 1px #eee solid;
    flex-direction:row;
    justify-content:space-between;
    background-color: white;
    position: sticky;
    transition: 0.2s;
    top: -72px;
    z-index: 999;
}
.header_frame2 {
    display:flex;
    flex-direction:'row';
    justify-content:center;
}
/* frame */

.header_font{
    font-weight:bold;
    align-self:center;
}
.header_font:hover{
    cursor: pointer;
}
