.modal{
    display: flex;
    background-color: rgb(0, 0, 0, 0.4);
    position:fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    justify-content: center;
}
.modal_block{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    flex-direction: column;
    padding: 8px;
    z-index: 1000;
}
.modal_block_cancel{
    display: flex;
    justify-content: right;
    height: 10%;
}
.modal_block_cancel_btn{
    background-color: red;
    border-radius: 10px;
    color: white;
    width: 22px;
    height: 22px;
    text-align: center;
}